<lib-table *ngIf="!(items.length < 1)" [value]="items" [columns]="columns" [externalBody]="body" [rowsPerPage]="[2]"
  [resizableColumns]="true" [totalRecords]="3" [selectionType]="'single'" [isSelectable]="true"
  (checkedRowValues)="checkedValues=$event" [(selectedValue)]="selectionTable">
  <!-- se non voglio le azioni, eliminare l'unput  [actions]="actions" e <ng-template #actions ></ng-template>-->
  <ng-template #body let-data="data" let-column="column">
    <!-- <td>
            <p-tableCheckbox [value]="data"></p-tableCheckbox>
        </td> -->
    <td>{{ tableService.getFieldValue(data, column[0].field) }}</td>
    <td>{{ tableService.getFieldValue(data, column[1].field, true) }}</td>
    <td>
      {{column[2].field | json}}
      <lib-tag [tagSeverity]="'danger'" [tagLabel]="tableService.getFieldValue(data, column[2].field)"></lib-tag>
    </td>
  </ng-template>
</lib-table>

{{checkedValues | json}}
{{selectionTable | json}}

<lib-button [label]="'Set selection'" [size]="'small'" (onClick)="selectionTable = {
            name: 'Simone',
            surname: 'Giannuario',
            status: { id: 0, description: 'prova' },
            isDisabledChecked: true
        }"></lib-button>