.address {
    border: 1px solid $color--border;
    padding: pxToRem(12px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);

    &:last-child {
        gap: 0;
    }

    .modify-button {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
