.address {
    border: 1px solid $color--border;
    padding: pxToRem(12px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);

    &:last-child {
        gap: 0;
    }

    .title {
        @include typography-small-semibold;
    }

    .content {
        @include typography-small-regular;
    }

    .modify-button {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
