i.info {
    background: $color--black-900;
    color: $white;
    padding: $gap-1;
}

i {
    border: 0;
    border-radius: 50%;
    color: $color--black-900;
}

.tooltip-pointer {
    cursor: pointer;
}

::ng-deep {
    .md-tooltip {
        min-width: 300px;
    }
    .lg-tooltip {
        min-width: 500px;
    }

    .p-tooltip-text {
        font-size: 15px;
    }

    .p-tooltip .p-tooltip-text {
        background-color: white;
        color: black;
        border: 1px solid #114477;
    }
}
