// Message component
.p-message {
    border-radius: $border-radius;
    margin: 1rem 0;

    .p-message-wrapper {
        padding: 1.25rem 1.75rem;
    }

    .p-message-close {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: transparent;
        transition:
            background-color 0.2s,
            color 0.2s,
            box-shadow 0.2s;

        &:hover {
            background: rgba($color--white-50, 0.3);
        }

        &:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: $shadow--focus-ring;
        }
    }

    .p-message-text {
        font-size: 1rem;
        font-weight: $font-weight;
    }

    .p-message-icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    .p-message-summary {
        font-weight: $font-weight-bold;
        @include typography-subtitle-second-semibold;
    }

    .p-message-detail {
        margin-left: 0.5rem;
        @include typography-subtitle-second-regular;
    }
}

.p-message.p-message-info {
    background: white;
    border: 1px solid $color--blue-100;
    color: $color--blue-100;

    .p-message-wrapper {
        background: rgba($color--blue-100, 0.1);
    }

    .p-message-icon {
        color: $color--blue-100;
    }

    .p-message-close {
        color: $color--blue-100;
    }
}

.p-message.p-message-success {
    background: white;
    border: 1px solid $color--green-50;
    color: $color--green-50;

    .p-message-wrapper {
        background: rgba($color--green-50, 0.1);
    }

    .p-message-icon {
        color: $color--green-50;
    }

    .p-message-close {
        color: $color--green-50;
    }
}

.p-message.p-message-warn {
    background: white;
    border: 1px solid $color--orange-50;
    color: $color--orange-50;

    .p-message-wrapper {
        background: rgba($color--orange-50, 0.1);
    }

    .p-message-icon {
        color: $color--orange-50;
    }

    .p-message-close {
        color: $color--orange-50;
    }
}

.p-message.p-message-error {
    background: white;
    border: 1px solid $color--red-200;
    color: $color--red-200;

    .p-message-wrapper {
        background: rgba($color--red-200, 0.1);
    }

    .p-message-icon {
        color: $color--red-200;
    }

    .p-message-close {
        color: $color--red-200;
    }
}
