<p>about-due works!</p>
<router-outlet></router-outlet>
<a routerLink="/about-due/caricamento">Caricamento</a>

<div class="height-fix">
  <lib-pick-list [sourceLabel]="'Disponibili'" [targetLabel]="'Selezionati'" [sourceFilterPlaceholder]="'Filtra'"
    [(sourceArray)]="items" [(targetArray)]="items2" (sourceArrayChange)="console($event)" (targetArrayChange)="console($event)" [targetFilterPlaceholder]="'Filtra'" [template]="template"
    [dragDrop]="true" [metaKeySelection]="false">
    <ng-template #template let-data="data">
      {{data.label}}
    </ng-template>

  </lib-pick-list>



 <!--  <lib-accordion [sections]="accordionData" [contents]="contentTemplate">
    <ng-template #contentTemplate let-data>
        <lib-treemenu [filter]="true" [filterPlaceholder]="'startSession.filters.search'"
            [items]="structuresList" [(selected)]="selectedStructures" [selectionMode]="'checkbox'"
            [propagateSelectionUp]="false">
        </lib-treemenu>
      </ng-template>
    </lib-accordion> -->
  
    <lib-tree-select [enableFilter]="true" [filterPlaceholder]="'startSession.filters.search'" (emitUnselect)="log($event)" [lazy]="true" [lazyFn]="lazyLoad" [draggable]="true"
        [nodes]="structuresList" [(selectedNodes)]="selectedStructures" [selectionType]="'checkbox'"
       >
    </lib-tree-select>
    <lib-treemenu [filter]="true" [filterPlaceholder]="'startSession.filters.search'" (emitUnselect)="log($event)"  [lazy]="true" [lazyFn]="lazyLoad" [draggableNodes]="true"
        [items]="structuresList" [(selected)]="selectedStructures" [selectionMode]="'checkbox'"
        [propagateSelectionUp]="false">
    </lib-treemenu>
    
  </div>