<div style="display: flex; flex-direction: column;">
    <h3>Small buttons</h3><br>
    <div style="display: flex; flex: 1 1 auto; margin: 5px; gap: 8px">
        <lib-button [size]="'small'" [type]="'primary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'primary'" [icon]="'pi pi-user'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'secondary-rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'secondary-outlined'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'link'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'link-secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'small'" [type]="'secondary-raised'" [label]="'Prova'"></lib-button>

        <!-- case "secondary":
        case "secondary-rounded":
        case "secondary-outlined":
        case "rounded":
        case "link":
        case "link-secondary":
        case "secondary-raised": -->

    </div>
    <h3>Medium buttons</h3><br>
    <div style="display: flex; flex: 1 1 auto; margin: 5px; gap: 8px">
        <lib-button [size]="''" [type]="'primary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'primary'" [icon]="'pi pi-user'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'secondary-rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'secondary-outlined'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'link'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'link-secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="''" [type]="'secondary-raised'" [label]="'Prova'"></lib-button>

        <!-- case "secondary":
        case "secondary-rounded":
        case "secondary-outlined":
        case "rounded":
        case "link":
        case "link-secondary":
        case "secondary-raised": -->

    </div>
    <h3>Large buttons</h3><br>
    <div style="display: flex; flex: 1 1 auto; margin: 5px; gap: 8px">
        <lib-button [size]="'big'" [type]="'primary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'primary'" [icon]="'pi pi-user'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'secondary-rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'secondary-outlined'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'rounded'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'link'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'link-secondary'" [label]="'Prova'"></lib-button>
        <lib-button [size]="'big'" [type]="'secondary-raised'" [label]="'Prova'"></lib-button>

        <!-- case "secondary":
        case "secondary-rounded":
        case "secondary-outlined":
        case "rounded":
        case "link":
        case "link-secondary":
        case "secondary-raised": -->

    </div>
</div>