.field {
    display: flex;
    flex-direction: column;
    gap: $gap-1;

    .static {
        padding: pxToRem(9px);
    }

    label {
        @include typography-subtitle-second-semibold;
        color: $color--form-label-text;
    }

    // TODO: refactor di questo sotto.
    &:has(.field-checkbox) {
        min-height: 50px;
    }
}

small {
    padding-top: $gap-1;
    font-size: 0.875rem;
    color: $red-200;
}

.field-checkbox {
    label {
        margin-left: 0.6rem;
    }
}

.p-input-icon-left {
    width: 100%;
    height: 100%;
}

.p-input-icon-right {
    width: 100%;
    height: 100%;
}

.icon-clear {
    position: absolute;
    right: 0.75rem;
    cursor: pointer;
}

.showClear {
    & > .p-inputtext {
        padding-right: 2.5rem;
    }
}
