<div style="display: flex;">
    <div style="flex: 1 1 auto; margin: 5px;">
        <lib-listbox
            [label]="'Standard'"
            [items]="items" [(value)]="selectedItem" (selectedValue)="changeValueHandler($event)">
        </lib-listbox>
        <div *ngIf="selectedItem" style="margin: 5px;">
            Valore selezionato: {{selectedItem.name}}
        </div>
    </div>
    <div style="flex: 1 1 auto; margin: 5px;">
        <lib-listbox
            [label]="'Fill & Disable'"
            [items]="items" [(value)]="selectedItem2" [disabled]="true">
        </lib-listbox>
        <div *ngIf="selectedItem2" style="margin: 5px;">
            Valore selezionato: {{selectedItem2.name}}
        </div>
    </div>
</div>