.filtri-wrapper {

.dropdown-title {
  @include typography-x-small-semibold;
  color: $color--filtri-dropdown-title;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dropdown-container {
  margin-top: 0.714rem;

  lib-tree-select {
     .p-treeselect {
      background: $color--filtri-dropdown-background;
      border: 1px solid $color--filtri-dropdown-border;
      border-radius: 4px;


      .p-tree {
        .p-tree-container {
          .p-treenode {
            .p-treenode-content {
              .p-tree-toggler {
                display: none;
              }
            }
          }
        }
      }

      .p-treeselect-label {
        padding-top: 7px;
        padding-bottom: 7px;

        &.p-placeholder {
          color: $color--filtri-dropdown-text;
        }

        &.p-inputtext {
          &.ng-star-inserted {
            color: $color--filtri-dropdown-text;
          }
        }


      }

      .p-treeselect-trigger {

        color: $color--filtri-dropdown-text;
      }

      .p-treeselect-clear-icon {
        color: $color--filtri-dropdown-text;
      }


    }
  }

  .single-dropdown {
    margin-right: 0.714rem;
  }
}

.chips-title {
  margin-top: 0.714rem;
  @include typography-x-small-regular;
  color: $color--filtri-chips-title;
}

.chips-container {
  margin-top: 0.357rem;

  .single-chip {
    margin-right: 0.357rem;
  }
}
}
