/// Componente per mostrare  i dati di iscrizione

.registration-data {

    &__header {
        strong,
        p {
            font-size: 1.067rem;
        }

        p {
            color: var(--blue-100);
        }
    }

    &__body {
        h5 {
            text-transform: uppercase;
        }

        strong,
        p {
            font-size: 1.067rem;
        }

        p {
            &:not(:first-child) {
                color: var(--blue-100);
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        tr {
            &:first-child {
                th {
                    border-bottom: 1px solid var(--gray-100);

                    &:first-child {
                        border-bottom: 0;
                    }
                }
            }

            th {
                padding: 0.7rem 0;
                font-size: 1.067rem;
            }

            td {
                padding: 0.7rem 0.7rem 0.7rem 0;
                color: var(--blue-100);
            }
        }
    }
}
