<div class="header">
  <div class="left">
    <lib-logo [text1]="'Global'" [text2]="'Document Management'" (click)="goToHomePage()"></lib-logo>
  </div>
  <div class="center">
    <lib-search-bar></lib-search-bar>
  </div>
  <div class="right">
    <lib-header-actions [selectedOption]="{name: 'it', code: 'it'}" [user]="menuItem"></lib-header-actions>
  </div>
</div>

<lib-header-menu [items]="itemsMenu">
  <ng-container endTemp>
    <div class="align">
      <lib-cart [externalBody]="external">
        <ng-template #external let-data="data" let-i="i">
          {{data.title}} {{i}}
        </ng-template>
      </lib-cart>
      <lib-dropdown [valueDropdown]="dropdownValue" [clear]="false"></lib-dropdown>
    </div>
  </ng-container>
</lib-header-menu>

<lib-breadcrumb id="ciao" [separator]="'/'"></lib-breadcrumb>

<router-outlet></router-outlet>
<lib-button [label]="'Aggiungi notifica'" [size]="'small'" [type]="'primary'" (onClick)="addNotify()"></lib-button>


<!-- <lib-circle-status [type]="'danger'"></lib-circle-status>
<lib-circle-status></lib-circle-status>
<lib-circle-status [type]="'info'"></lib-circle-status>
<lib-circle-status [type]="'warning'"></lib-circle-status> -->
<div>
  {{tabIndex}}
</div>


<lib-accordion [sections]="accordionSections" [contents]="accordionContent">
  <ng-template #accordionContent let-data>
    <p>
      {{data.content}}
    </p>
    <strong>{{data.val}}</strong>
  </ng-template>

</lib-accordion>

<lib-calendar [inlineCal]="true" [disabledDays]="[0,6]" [firstDayOfWeek]="1"
  [highlightedDays]="['2023-11-15']"></lib-calendar>