// $max: 5;
// $offset: 8;
// $unit: 'px'; // Feel free to change the unit.

/// Stampa diverse classi CSS di utilità con margini e padding in tutte le direzioni.
// @mixin list-loop($className, $styleName) {
//   $i: 0;
//   @while $i <= $max {
//     #{$className + $i} {
//       #{$styleName}: #{$i * $offset + $unit};
//     }
//     $i: $i + 1;
//   }
// }

// // Margins
// @include list-loop('.mt-', 'margin-top');
// @include list-loop('.mr-', 'margin-right');
// @include list-loop('.mb-', 'margin-bottom');
// @include list-loop('.ml-', 'margin-left');
// @include list-loop('.m-', 'margin');

// // Paddings
// @include list-loop('.pt-', 'padding-top');
// @include list-loop('.pr-', 'padding-right');
// @include list-loop('.pb-', 'padding-bottom');
// @include list-loop('.pl-', 'padding-left');
// @include list-loop('.p-', 'padding');

/// Fa la conversione da unità px a rem
@function pxToRem($size) {
  $remSize: $size / $font-size-in-px;
  @return #{$remSize}rem;
}

/// Aggiunge una property per il margin
@mixin marginCalc($position, $px) {
  margin-#{$position}: #{$px}
}

/// Aggiunge una property per il padding
@mixin paddingCalc($position, $px) {
  padding-#{$position}: #{$px}
}

@mixin typography-body-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}
@mixin typography-small-semibold {
    font-weight: 600;
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
}

@mixin typography-xs-small-regular {
    font-weight: 400;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-x-small-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}

@mixin typography-text-xs-medium {
    font-weight: 500;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-x-small-semibold {
  font-weight: 600;
  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
}

@mixin typography-small-bold {
  font-weight: 700;
  font-size: pxToRem(12px);
  line-height: pxToRem(16px);
}

@mixin typography-button-small {
    font-weight: 600;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-button-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}

@mixin typography-button-large {
    font-weight: 600;
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
}
