/// Fa la conversione da unità px a rem
@function pxToRem($size) {
    $remSize: $size / $font-size-in-px;
    @return #{$remSize}rem;
}

/// Aggiunge una property per il margin
@mixin marginCalc($position, $px) {
    margin-#{$position}: #{$px};
}

/// Aggiunge una property per il padding
@mixin paddingCalc($position, $px) {
    padding-#{$position}: #{$px};
}

@mixin typography-xs-small-regular {
    font-weight: 400;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-text-xs-medium {
    font-weight: 500;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-body-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}
@mixin typography-x-small-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}

@mixin typography-small-semibold {
    font-weight: 600;
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
}

@mixin typography-x-small-semibold {
    font-weight: 600;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}

@mixin typography-small-bold {
    font-weight: 700;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-small-regular {
    font-weight: 400;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-button-small {
    font-weight: 600;
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
}

@mixin typography-button-regular {
    font-weight: 400;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}
@mixin typography-button-semibold {
    font-weight: 600;
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
}

@mixin typography-button-large {
    font-weight: 600;
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
}

@mixin typography-generate($font-size, $line-height, $font-weight) {
    font-weight: $font-weight;
    font-size: pxToRem($font-size);
    line-height: pxToRem($line-height);
}

@mixin typography-form-label {
    font-weight: 600;
    font-size: pxToRem(16px);
    line-height: pxToRem(28px);
}

@mixin h6 {
    font-weight: 600;
    font-size: pxToRem(24px);
    line-height: pxToRem(28px);
    margin: 0;
}

