// Fonts
$font-family: Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-weight-light: 100;
$font-weight: 400;
$font-weight-bold: bold;
$font-size-in-px: 14px;
$font-size: 100%;

$global-line-truncation-size: 2;

// $global-line-height: 20px;
// $global-letter-spacing: 0.4px;

//Breakpoint media query
$breakpoint--mobile-width: 39.94rem; // 639px
$breakpoint--tablet-width: 40rem; // 640px
$breakpoint--desktop-width: 64rem; // 1024px
$breakpoint--x-large: 75rem; // 1200px
$breakpoint--xx-large: 87.5rem; // 1400px
$breakpoint--xxx-large: 118.8rem; // 1900px

// Misure per gli iPhone
$iphone-6-width: 375px;
$ipad-min-width: 768px;
$ipad-pro-min-width: 1024px;
$ipad-pro-max-width: 1366px;

:root {
    //PRIMARY
  --primary-color-10: #856F00;
  --primary-color-20: #9D8300;
  --primary-color-30: #B89A00;
  --primary-color-40: #D9B500;
  --primary-color-50:#FFD300;
  --primary-color-60: #FFDF40;
  --primary-color-70: #FFE770;
  --primary-color-80: #FFED93;
  --primary-color-90: #FFF2AE;
  --primary-color-100: #FFF5C2;

  //SECONDARY
  --secondary-color-10: #073F98;
  --secondary-color-20: #084AB3;
  --secondary-color-30: #0A57D3;
  --secondary-color-40: #0F67F4;
  --secondary-color-50:#3B82F6;
  --secondary-color-60: #6CA2F8;
  --secondary-color-70: #91B9FA;
  --secondary-color-80: #ACCBFB;
  --secondary-color-90: #C1D8FC;
  --secondary-color-100: #D0E1FD;

  //TERTIARY
  --tertiary-color-10: #073F98;
  --tertiary-color-20: #084AB3;
  --tertiary-color-30: #0A57D3;
  --tertiary-color-40: #0F67F4;
  --tertiary-color-50:#3B82F6;
  --tertiary-color-60: #6CA2F8;
  --tertiary-color-70: #91B9FA;
  --tertiary-color-80: #ACCBFB;
  --tertiary-color-90: #C1D8FC;
  --tertiary-color-100: #D0E1FD;

  //BASE
  --base-color-black: #000000;
  --base-color-white: #FFFFFF;
  --base-color-background: #F4F5F8;

  //GRAY
  --gray-color-10: #626D7D;
  --gray-color-20: #748092;
  --gray-color-30: #8E98A7;
  --gray-color-40: #ADB4BF;
  --gray-color-50:#D1D5DB;
  --gray-color-60: #DCDFE4;
  --gray-color-70: #E5E7EB;
  --gray-color-80: #ECEDF0;
  --gray-color-90: #F0F2F4;
  --gray-color-100: #F4F5F6;

  //ERROR
  --error-color-10: #B21F27;
  --error-color-50: #EF4444;
  --error-color-100: #F1EDEE;

  //SUCCESS
  --error-color-10: #B21F27;
  --error-color-50: #EF4444;
  --error-color-100: #F1EDEE;

}

// Colors prj
// $color--primary-color: #FFD300;
$color--primary-color: var(--primary-color-50);
$color--white: #FFFFFF;
$color--black: #000;

// colors components
// buttons
$color--button-primary-text: #000000;

// search-bar
$color--searchbar-inputtype-border: #CBD5E1;

// header-actions
$color--headeractions-buttonlink-color: #1890FF;

// menubar
$color--menubar-link-active-background: $color--white;

// radio-button
$color--radio-button-border-default: #D4D5D8;
$color--radio-button-icon-selected: #1890FF;
// radio-tiles
$color--radio-tile-card-selected-bg: #E2E9F5;
$color--radio-tile-card-hover-border: #1890FF;
$color--radio-tile-card-border: #E2E9F5;
//chip
$color--chip-text: $color--white;
$color--chip-background: #0EA5E9;
//filtri
$color--filtri-dropdown-border: #B8B8B8;
$color--filtri-dropdown-background: $color--white;
$color--filtri-dropdown-title: $color--black;
$color--filtri-chips-title: #737373;
$color--filtri-dropdown-text: $color--black;
// end colors components

$color--surface-a: #FFFFFF;
$color--surface-b: #F8F9FA;
$color--surface-c: #E9ECEF;
$color--surface-d: #DEE2E6;
$color--text-color: #495057;
$color--text-color-secondary: #64748B;
$color--surface-300: #E0E0E0;
$color--gray-100: #CED4DA;
$color--gray-200: #EFF6FF;
$color--gray-600: #989AA2;

$color--black-700: #202020;
$color--black-800: #343A40;
$color--black-900: #000000;
$color--blue-100: #056DBF;
$color--blue-500: #114477;
$color--blue-600: #0A2B4D;
$color--blue-700: #1D4ED8;
$color--blue-800: #F0F8FE;
$color--green-50: #2D7830;
$color--cyan-100: #BFDBFE;
$color--orange-50: #FB8C00;
$color--bluegray-50: #F7F8F9;
$color--bluegray-500: #64748B;
$color--purple-50: #FBF7FF;
$color--purple-500: #A855F7;
$color--red-50: #EF4444;
$color--red-100: #A85524;
$color--red-200: #DD0B0B;
$color--red-900: #E24C4C;
$color--black-50: #000;
$color--white-50: #000;

$white: #FFFFFF;
$grey-200: #D8D8D8;
$blue-100: #056DBF;
$black: #202020;
$primary-100: #114477;
$primary-200: #056DBF;
$primary-300: #0092bc;
$red-200: #DD0B0B;

$footer: $primary-300;

// Padding/Margin
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 40px;

// Borders
$border-gray-200: 1px solid #CED4DA;
$border-radius: 6px;

// others
$shadow--focus-ring: 0 0 0 0.2rem #BFDBFE;
$overlay--maskbg: rgba(0, 0, 0, 0.4);
