.file-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .file-structure {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap-2;
        width: 85%;

        .file-icon {
            height: 100%;
        }

        .file-data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .ellipsed {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .title {
                color: $color--file-title;
                @include typography-body-regular;

                &.ellipsed {
                    max-width: 80%;
                }
            }
            .title-icon {
                @include typography-small-semibold;
                color: $color--file-title;

                &.ellipsed {
                    max-width: 70%;
                }
            }

            .dimension {
                color: $color--file-subtitle;
                @include typography-xs-small-regular;
            }
        }
    }

    .file-actions {
        display: flex;
        align-items: center;
    }
}
