


//Global Doc
.header-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
    .p-button-link {
        color: $color--headeractions-buttonlink-color;
        padding: 0;
    }

    .p-menubar {
        padding: 0;
    }
}